/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2a9d8f;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Style de la section principale */
main {
    padding: 20px;
}

h2 {
    color: #2a9d8f;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Style du pied de page */
footer {
    background-color: #2a9d8f;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles pour le carrousel */
.carousel-container {
    width: 100%;
    max-width: 2000px; /* Largeur maximale du carrousel */
    margin: 20px auto; /* Centrer le carrousel */
    overflow: hidden; /* Masquer les images qui dépassent */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Animation fluide lors du changement d'image */
}

.carousel-image {
    flex: 1 0 calc(100% / 3); /* 3 images visibles à la fois */
    height: 400px; /* Hauteur des images */
    object-fit: cover; /* Les images remplissent leur conteneur sans être déformées */
}

/* Styles pour le formulaire */
.contact-form {
    border: 2px solid #2a9d8f;
    padding: 20px;
    margin-top: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form input[type="submit"] {
    background-color: #2a9d8f;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
}

.contact-form input[type="submit"]:hover {
    background-color: #21867a;
}

/* Styles pour la carte */
.map-container {
    margin-top: 40px;
    margin-bottom: 100px;
}

.map-container iframe {
    width: 100%;
    height: 400px;
    border: none; 
}

/* Ajouter du padding dans les champs de texte et textarea */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="submit"],
.contact-form textarea {
    padding: 12px; /* Ajouter du padding autour du texte */
    box-sizing: border-box; /* Pour que le padding ne dépasse pas la taille du champ */
}
